<!DOCTYPE html>
<html>
<head>
  <title>MultiClient</title>
  <%= stylesheet_link_tag    "multi_client/application", media: "all" %>
  <%= javascript_include_tag "multi_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
